@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (!string.IsNullOrWhiteSpace(Model.TraceId))
{
    <p>
        <strong>Request :</strong> <code>@Model.TraceId</code>
    </p>
}
    <p>
        <strong>Exception:</strong> <code>@Model.ErrorMessage</code>
    </p>


<p>
    <a href="@Url.Action("Index", "Customer")" class="btn btn-primary">Return to List</a>
</p>
