@{
    ViewData["Title"] = "Error";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Customer </title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div class="container">
        <h1 class="text-danger">@Model.ExceptionMessage</h1>
        <p>
            <a href="@Url.Action("Index", "Customer")" class="btn btn-primary">Return to List</a>
        </p>
    </div>
</body>

</html>